# Groupby = Combination of 3 steps

## Splitting the Object

## Applying a function

## Combining the results

# 3 Functions on Groupby

Aggregation − computing a summary statistic

Transformation − perform some group-specific operation

Filtration − discarding the data with some condition

# List of Aggregation FUnctions on Group by 

mean(): Compute mean of groups

sum(): Compute sum of group values

size(): Compute group sizes

count(): Compute count of group

std(): Standard deviation of groups

var(): Compute variance of groups

sem(): Standard error of the mean of groups.
 It describes how every value of the group is away from the mean.

describe(): Generates descriptive statistics

first(): Compute first of group values

last(): Compute last of group values

nth() : Take nth value, or a subset if n is a list

min(): Compute min of group values

max(): Compute max of group values

ref : https://cmdlinetips.com/2019/10/pandas-groupby-13-functions-to-aggregate/

In [1]:
import pandas as pd

In [7]:
df = pd.read_csv("/content/sample_ipl_data.csv")

In [8]:
df.columns

Index(['Unnamed: 0', 'Team', 'Rank', 'Year', 'Points'], dtype='object')

### Mean :: Find mean Rank of a team

In [12]:
df.groupby('Team')['Rank'].mean()

Team
Devils    2.500000
Kings     1.666667
Riders    1.750000
Royals    2.500000
kings     4.000000
Name: Rank, dtype: float64

### Sum :: Find sum of points of a team

In [11]:
df.groupby('Team')['Points'].sum()

Team
Devils    1536
Kings     2285
Riders    3049
Royals    1505
kings      812
Name: Points, dtype: int64

# Multiple Aggregate functions in Single Command


Use groupby().agg(< List of functions to be applied >)

## Find mean of points, size/count of points and sum of points every year

In [14]:
import numpy as np
df.groupby('Year')['Points'].agg([np.mean, np.size, np.sum])

        mean  size   sum
Year
2014  795.25     4  3181
2015  769.50     4  3078
2016  725.00     2  1450
2017  739.00     2  1478

# Transformation

Transform a column values as per the group

### Transform column points :: Substract mean of points per year from all points

In [15]:
def sub_mean(x):
  return x - x.mean()

In [18]:
df['sub_mean_points'] = df.groupby('Year')['Points'].transform(sub_mean)

In [19]:
df.head()

   Unnamed: 0    Team  Rank  Year  Points  sub_mean_points
0           0  Riders     1  2014     876            80.75
1           1  Riders     2  2015     789            19.50
2           2  Devils     2  2014     863            67.75
3           3  Devils     3  2015     673           -96.50
4           4   Kings     3  2014     741           -54.25

In [20]:
df.groupby('Year')['Points'].mean()

Year
2014    795.25
2015    769.50
2016    725.00
2017    739.00
Name: Points, dtype: float64